@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap') ;

.feedbackPage {
  align-items: center;
  background-image: url('bgopacidadeok.jpg');
  display: flex;
  flex-direction: column;
  font-family: Oswald , Arial , sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.playerName {
  padding-left: 50px;
}

.playerScore {
  margin-top: 30px;
}

.feedback-header {
  align-items: center;
  background-color: #282c34;
  color: aliceblue;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
}

.feedbackContainer {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(240, 248, 255, 0.4);
  border-radius: 20px;
  box-shadow: 4px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: space-around;
  margin-top: 30px;
  padding: 20px;
  width: 60vw;
}

.gifMsg {
  height: 25vh;
  margin-top: 10px;
}

.resultsGame {
  font-size: 25px;
  margin-top: 10px;
}

.buttons {
  align-items: center;
  display: flex;
  font-family: Oswald , Arial , sans-serif;
  justify-content: space-between;
  margin-top: 30px;
  min-width: 250px;
}

.btnClass {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 50px;
  padding: 5px;
}
