@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap') ;

* {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.gamePage {
  align-items: center;
  background-attachment: fixed;
  background-image: url('bgopacidadeok.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: Oswald , Arial , sans-serif;
  min-height: 100vh;
}

.timer {
  align-items: center;
  background-color: aliceblue;
  border-radius: 50%;
  color: #282c34;
  display: flex;
  height: 75px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 75px;
}

.cate {
  align-items: center;
  background-color: #282c34;
  border-radius: 5px;
  color: aliceblue;
  display: flex;
  font-size: 25px;
  justify-content: center;
  padding: 10px;
}

.question {
  font-size: 30px;
  margin-top: 30px;
}

.Card-Game {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(240, 248, 255, 0.4);
  border-radius: 20px;
  box-shadow: 4px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  min-height: 150px;
  padding: 30px;
}

.btnAnswers {
  border-radius: 5px;
  font-family: Oswald , Arial , sans-serif;
  font-size: 15px;
  padding: 5px;
}

.button-answer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 60vw;
}

.btnNext {
  border-radius: 5px;
  font-family: Oswald , Arial , sans-serif;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}

.red {
  background-color: aliceblue;
  border: 3px solid red;
  color: red;
}

.green {
  background-color: aliceblue;
  border: 3px solid rgb(6, 240, 15);
  color: rgb(6, 240, 15);
}
